@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --primary-background-color: #f4f2f4;
  /* Light mode: #f4f2f4 Dark mode: #384152*/
  --left-container: #b282ed;
  /*Light: #b282ed Dark: #0095ff */
  --signup-form: #fbfbfb;
  /* Light:#fbfbfb Dark :#333942 */
}

.input-signin span {
  font-size: 15px;
}
.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-background-color);
  font-family: "Poppins", sans-serif;
}
.signup-box {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  height: 60vh;
  width: 60vw;
}
.signup-heading {
  font-size: 2rem;
}
.left-side {
  background: var(--left-container);
  color: #fafcff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.left-heading {
  font-size: 25px;
}
.signinLeft {
  margin-top: 2rem;
}
.signin-button {
  background-color: transparent;
  border: 2px solid #fafcff;
  border-radius: 20px;
  width: 130px;
  height: 40px;
  color: #fafcff;
  animation: forwards 2s;
}
.signin-button:hover {
  background-color: #fafcff;
  color: #b282ed;
}

.form-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--signup-form);
  padding: 40px 20px;
  gap: 3rem;
}
.form-signup form {
  width: 70%;
}
.form-signup input {
  border: 0.5px solid transparent;
  border-bottom: 1px solid black;
  width: 100%;
  height: 30px;
}
.input-box {
  display: flex;
  flex-direction: column;
  color: rgb(99, 95, 95);
  font-size: 1.5rem;
}
.input-box input {
  background-color: var(--signup-form);
  font-size: 18px;
}
.input-box input:focus {
  transition: 0.5s;
  outline: none;
  background: #ebdfdf;
}
.submit-button {
  width: 130px;
  height: 40px;
  margin-top: 2rem;
}
.submit-button input {
  border: none;
  border-radius: 20px;
  background: #a954db;
  color: #f7d8ff;
  font-family: "Poppins", sans-serif;
  height: 35px;
  transition: transform 0.2s ease;
}
.submit-button input:hover {
  transform: scale(1.05);
}
